openapi: 3.0.3
info:
  title: Orbit Platform API
  version: "1.0.0"
  description: |
    **Orbit** is a fictional stand-in for Workday's Open Platform APIs, built purely
    for the "Docs-as-a-Product" Spelunking 2026 demo.

    It models a common Open Platform pattern: partners connect to the platform,
    register webhooks, and subscribe to events — the same shape as most
    partner-integration surfaces.

    This spec is the **single source of truth** for the public developer docs.
    Any change made here is picked up automatically by the documentation
    pipeline — nobody hand-edits a docs page.
    ### Base URLs

    | Environment | Base URL |
    | --- | --- |
    | Production | `https://api.example-orbit.workday.com/v1` |
    | Sandbox | `https://api.sandbox.example-orbit.workday.com/v1` |

    Every endpoint below is relative to one of these base URLs. For example, the full
    URL for **List partners** in production is:
    `GET https://api.example-orbit.workday.com/v1/partners`
  contact:
    name: Open Platform Developer Experience
    url: https://developer.example-orbit.workday.com
  license:
    name: Internal Use — Demo Only
servers:
  - url: https://api.example-orbit.workday.com/v1
    description: Production (fictional)
  - url: https://api.sandbox.example-orbit.workday.com/v1
    description: Sandbox (fictional)
security:
  - OAuth2: []
tags:
  - name: Partners
    description: Manage partner records on the Open Platform demo account.
  - name: Connections
    description: OAuth-based connections between a partner and a tenant.
  - name: Webhooks
    description: Register and manage webhook subscriptions.
  - name: Events
    description: Discover events available for webhook subscription.
paths:
  /partners:
    get:
      operationId: listPartners
      tags: [Partners]
      summary: List partners
      description: Returns all partners registered on the Open Platform.
      responses:
        "200":
          description: A list of partners.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Partner"
    post:
      operationId: createPartner
      tags: [Partners]
      summary: Register a new partner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartnerCreateRequest"
      responses:
        "201":
          description: Partner created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Partner"
        "400":
          $ref: "#/components/responses/BadRequest"

  /partners/{partnerId}:
    get:
      operationId: getPartner
      tags: [Partners]
      summary: Get a partner by ID
      parameters:
        - $ref: "#/components/parameters/PartnerId"
      responses:
        "200":
          description: The requested partner.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Partner"
        "404":
          $ref: "#/components/responses/NotFound"

  /connections:
    get:
      operationId: listConnections
      tags: [Connections]
      summary: List connections
      description: Returns all active OAuth connections between partners and tenants.
      responses:
        "200":
          description: A list of connections.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Connection"
    post:
      operationId: createConnection
      tags: [Connections]
      summary: Create a connection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectionCreateRequest"
      responses:
        "201":
          description: Connection created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"

  /connections/{connectionId}:
    get:
      operationId: getConnection
      tags: [Connections]
      summary: Get a connection by ID
      parameters:
        - $ref: "#/components/parameters/ConnectionId"
      responses:
        "200":
          description: The requested connection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteConnection
      tags: [Connections]
      summary: Revoke a connection
      parameters:
        - $ref: "#/components/parameters/ConnectionId"
      responses:
        "204":
          description: Connection revoked.
        "404":
          $ref: "#/components/responses/NotFound"

  /webhooks:
    get:
      operationId: listWebhooks
      tags: [Webhooks]
      summary: List webhook subscriptions
      responses:
        "200":
          description: A list of webhook subscriptions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Webhook"
    post:
      operationId: createWebhook
      tags: [Webhooks]
      summary: Register a webhook subscription
      description: |
        Registers a new webhook for a partner. The webhook fires whenever a
        subscribed event occurs on the platform.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookCreateRequest"
      responses:
        "201":
          description: Webhook created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"

  /webhooks/{webhookId}:
    get:
      operationId: getWebhook
      tags: [Webhooks]
      summary: Get a webhook subscription by ID
      parameters:
        - $ref: "#/components/parameters/WebhookId"
      responses:
        "200":
          description: The requested webhook subscription.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteWebhook
      tags: [Webhooks]
      summary: Remove a webhook subscription
      parameters:
        - $ref: "#/components/parameters/WebhookId"
      responses:
        "204":
          description: Webhook removed.
        "404":
          $ref: "#/components/responses/NotFound"

  /events:
    get:
      operationId: listEvents
      tags: [Events]
      summary: List subscribable events
      description: Returns the catalog of events partners can subscribe to via webhooks.
      responses:
        "200":
          description: A list of events.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Standard OAuth 2.0 client-credentials flow used by all Orbit partner connections.
      flows:
        clientCredentials:
          tokenUrl: https://auth.example-orbit.workday.com/oauth2/token
          scopes:
            read:webhooks: Read webhook subscriptions
            write:webhooks: Create and manage webhook subscriptions
            read:partners: Read partner records
            write:partners: Create and manage partner records

  parameters:
    PartnerId:
      name: partnerId
      in: path
      required: true
      description: The unique identifier of the partner, returned when the partner was registered via `POST /partners`.
      schema:
        type: string
      example: partner_8842
    ConnectionId:
      name: connectionId
      in: path
      required: true
      description: The unique identifier of the connection, returned when the connection was created via `POST /connections`.
      schema:
        type: string
      example: conn_5f21
    WebhookId:
      name: webhookId
      in: path
      required: true
      description: The unique identifier of the webhook subscription, returned when the webhook was registered via `POST /webhooks`.
      schema:
        type: string
      example: whk_3a90

  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    BadRequest:
      description: The request was invalid.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Partner:
      type: object
      description: A company or individual registered to build integrations on the Orbit Platform.
      properties:
        id:
          type: string
          description: Unique identifier for the partner, generated by Orbit when the partner is created.
          example: partner_8842
        name:
          type: string
          description: The partner's display name, as it appears in the Orbit partner directory.
          example: Acme Integrations Inc.
        status:
          type: string
          description: |
            The partner's current standing on the platform:
              - `pending` — registered but not yet approved for production access.
              - `active` — approved and able to create connections and webhooks.
              - `suspended` — access temporarily revoked, typically for a policy or security review.
          enum: [pending, active, suspended]
          example: active
        createdAt:
          type: string
          format: date-time
          description: The date and time the partner was registered, in ISO 8601 / RFC 3339 format (UTC).
          example: "2026-01-15T09:30:00Z"
      required: [id, name, status]

    PartnerCreateRequest:
      type: object
      description: The fields required to register a new partner.
      properties:
        name:
          type: string
          description: The partner's display name. Must be unique across the platform.
          example: Acme Integrations Inc.
        contactEmail:
          type: string
          format: email
          description: The primary contact email for the partner. Orbit sends approval and security notifications to this address.
          example: integrations@acme.example.com
      required: [name, contactEmail]

    Connection:
      type: object
      description: An authorized OAuth link between a partner and a specific Workday tenant, scoped to a set of permissions.
      properties:
        id:
          type: string
          description: Unique identifier for the connection, generated by Orbit when the connection is created.
          example: conn_5f21
        partnerId:
          type: string
          description: The `id` of the partner this connection belongs to. Matches `Partner.id`.
          example: partner_8842
        tenantId:
          type: string
          description: The identifier of the Workday tenant the partner has been granted access to.
          example: tenant_workday_demo
        scopes:
          type: array
          description: The list of permission scopes granted to this connection, controlling which resources and actions the partner can access on the tenant.
          items:
            type: string
          example: ["read:workers", "read:jobs"]
        status:
          type: string
          description: |
            Whether the connection can currently be used to make API calls:
              - `active` — the connection is valid and usable.
              - `revoked` — access has been withdrawn; API calls using this connection will fail.
          enum: [active, revoked]
          example: active
      required: [id, partnerId, tenantId, status]

    ConnectionCreateRequest:
      type: object
      description: The fields required to create a new connection between a partner and a tenant.
      properties:
        partnerId:
          type: string
          description: The `id` of the partner requesting the connection.
          example: partner_8842
        tenantId:
          type: string
          description: The identifier of the Workday tenant the partner should be connected to.
          example: tenant_workday_demo
        scopes:
          type: array
          description: The permission scopes to grant this connection. See `GET /events` and your partner agreement for the full list of available scopes.
          items:
            type: string
          example: ["read:workers", "read:jobs"]
      required: [partnerId, tenantId, scopes]

    Webhook:
      type: object
      description: A registered webhook subscription for a partner.
      properties:
        id:
          type: string
          description: Unique identifier for the webhook subscription, generated by Orbit when it is created.
          example: whk_3a90
        partnerId:
          type: string
          description: The `id` of the partner that owns this webhook subscription.
          example: partner_8842
        targetUrl:
          type: string
          format: uri
          description: The HTTPS URL Orbit sends event payloads to whenever a subscribed event occurs.
          example: https://acme.example.com/hooks/orbit
        eventTypes:
          type: array
          description: The list of event types this webhook is subscribed to. See `GET /events` for the full catalog of available event types.
          items:
            type: string
          example: ["worker.hired", "job.posted"]
        status:
          type: string
          description: |
            Whether the webhook is currently receiving events:
              - `active` — events are delivered to `targetUrl` as they occur.
              - `paused` — delivery is temporarily suspended, but the subscription is retained.
          enum: [active, paused]
          example: active
      required: [id, partnerId, targetUrl, eventTypes, status]

    WebhookCreateRequest:
      type: object
      description: The fields required to register a new webhook subscription.
      properties:
        partnerId:
          type: string
          description: The `id` of the partner this webhook subscription belongs to.
          example: partner_8842
        targetUrl:
          type: string
          format: uri
          description: The HTTPS URL Orbit should send event payloads to. Must be publicly reachable and respond with a 2xx status within 10 seconds.
          example: https://acme.example.com/hooks/orbit
        eventTypes:
          type: array
          description: The event types to subscribe to. See `GET /events` for the full catalog of available event types.
          items:
            type: string
          example: ["worker.hired", "job.posted"]
      required: [partnerId, targetUrl, eventTypes]

    Event:
      type: object
      description: An event type available in the Orbit event catalog, which partners can subscribe to via webhooks.
      properties:
        type:
          type: string
          description: The machine-readable event type identifier, used in `Webhook.eventTypes` when creating a subscription.
          example: worker.hired
        description:
          type: string
          description: A human-readable explanation of when this event fires and what it represents.
          example: Fires when a new worker is hired in a subscribed tenant.
      required: [type, description]

    Error:
      type: object
      description: A standard error payload returned for any non-2xx response.
      properties:
        code:
          type: string
          description: A short, machine-readable error code identifying the failure category (for example, `not_found` or `bad_request`).
          example: not_found
        message:
          type: string
          description: A human-readable explanation of the error, suitable for logging or displaying to a developer.
          example: The requested resource could not be found.
      required: [code, message]
